  .bg-image {
      background-image: url(../img/footer-bg.jpg);
      background-size: cover;
  }

  .footer-icons {
      background-color: #303030;
  }

  .btn {
      border-color: blue;
      padding: 8px;
      color: white;
      background-color: #303030;
  }
