.jumbotron{
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    height: 380px;
}  .bg-image {
      background-image: url(../img/footer-bg.jpg);
      background-size: cover;
  }

  .footer-icons {
      background-color: #303030;
  }

  .btn {
      border-color: blue;
      padding: 8px;
      color: white;
      background-color: #303030;
  }
.section {
    background-color: #1c1c1c;
}

.card-container {
    width: calc(100%/6);
    padding: 10px;
}

.image-comic {
    width: 250px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    width: 100%;
}

.img-comics {
    width: 60px;
    height: 65px;
}

.text-comics {
    font-size: 12px;
    color: white;
    align-self: center;
    padding-left: 5px;
}
